.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 15vh;
}
.element {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.element img {
  width: 5rem;
  height: auto;
}

.title {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  gap: 1rem;
}
.title p {
  font-weight: 300;
}
.learnMore {
  display: flex;
  align-items: center;
  gap: 2px;
}

.title h1{
  color: black;
}
