.account {
  display: flex;
  gap: 0.7rem;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  color: rgb(48, 48, 48);
  margin-left: 2rem;
}
.account span {
  color: rgb(0, 0, 0);
}
.account img{
  width: 2rem;
  height: auto;
}

.account > span:last-child {
  cursor: pointer;
}

.account_link {
  color: rgb(48, 48, 48);
}

.account button {
  background-color: #4c5fd5;
  color: white;
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 6px;
}

.account button:hover {
  background-color: #2dbf64;
  transform: scale(1.1);
  transition: all ease-out;
  transition-duration: 0.3s;
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
