.footer {
  background-color: black;
  width: 100%;
  height: 30vh;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  padding-left: 7rem;
  padding-right: 7rem;
  margin-top: 7rem;
}
.element{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer p,h1{
    color: white;
}
