@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.alignment {
  padding: 10rem 17rem;
  display: flex;
  flex-direction: column;
}
.topicSection {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}
.topicSection > * {
  width: 30%;
}
.introSection1 {
  margin-bottom: 10vh;
}

.zeroOpacity h1 {
  opacity: 0;
  color: #88b6a1;
  font-family: "Montserrat", Sans-serif;
  font-size: 68px;
  font-weight: 300;
  line-height: 1.2em;
}
.animate h1 {
  color: #2b7180;
  font-family: "Montserrat", Sans-serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 1.2em;
  margin-top: 3vh;
}
.fadeIn {
  opacity: 1;
  animation: fadeInAnimation 1s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* typewriter effect */
.container {
  display: inline-block;
}
.container h1 {
  color: #2b7180;
  font-family: "Montserrat", Sans-serif;
  font-size: 58px;
  font-weight: 300;
  line-height: 1.2em;
}
.typedOut {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  animation: typing 2s forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
