.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 10vh;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
  border-bottom: 1px solid #e5e5e5;
  padding-right: 18rem;
  padding-left: 18rem;
}
.nav li {
  list-style: none;
}
.nav h1,
a {
  font-family: "Montserrat", sans-serif;
}
.brand h1 {
  font-size: 3rem;
  line-height: 19px;
  font-weight: 500;
  color: rgb(48, 48, 48);
}
.navChild ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navChild a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 3rem;
  color: rgb(48, 48, 48);
  white-space: nowrap;
}
.privateNav a {
  width: 10rem;
  height: 3rem;
}
.sp a{
  width: 6rem;
  height: 3rem;
}
.activeNavLink {
  background-color: #2b7180;
  color: white;
}

.navChild .activeNavLink {
  color: white;
}
.activeNavLink span{
  color: white;
}

.navChild ul li:hover {
  background-color: #2b7180;
  transition: background-color 0.5s ease-in-out;
}
.navChild ul li:hover a {
  color: white;
}

@media only screen and (max-width: 600px) {
  .nav .brand h3 {
    display: none;
  }
}
