.nav {
  display: flex;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid #e5e5e5;
  z-index: 1;
  align-items: center;
  height: 12vh;
  border-bottom-color: #eaeaea;
  border-bottom-style: solid;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
}
.nav ul {
  width: 50%;
  height: 60px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul li {
  font-weight: 600;
}

.nav .brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .brand h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 19px;
  font-weight: 500;
  color: rgb(48, 48, 48);
  padding-left: 10px;
}

.nav .brand img {
  width: 32px;
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  .nav .brand h3 {
    display: none;
  }
}

.alignment {
 margin-left: 15rem;
}
