.topicContainer {
  width: 100%;
  height: 59vh;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
  z-index: 10;
  overflow: hidden;
}
.topicContainer:hover {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
  transform: scale(1.01);
  transition: transform 2.5 ease-in-out;
}
.topicLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topicContainer h1 {
  font-family: "Montserrat", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2em;
  margin-top: 2rem;
  color: #434d4f;
}
.topicContainer p {
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 2rem;
  color: #121213;
}
.readMore {
  display: flex;
  margin-left: 3rem;
}
.readMore h4 {
  color: #fbb367;
}
.logoSpan span {
  margin-top: 8px;
  margin-left: 7px;
  color: #fbb367;
}
.topicContainer img {
  width: 100%;
  height: 14rem;
  top: 0;
  border-radius: 2rem 2rem 0 0;
}
.styleSpan {
  width: 100%;
  height: 16rem;
}
.styleSpan1 {
  display: inline-block;
  /* background-color: #88B6A1; */
  width: 23rem;
  height: 16rem;
  transform: rotate(30deg);
  margin-left: 20rem;
}
