@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.tutorialContainer {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns per row */
  gap: 20px;
  margin-top: 10vh;
  padding-left: 15vw;
}
.tutorial img {
  width: 65%;
}
.tutorial h1 {
    color:#2B7180;
  font-family: "Montserrat", Sans-serif;
  font-size: 58px;
  font-weight: 300;
  line-height: 1.2em;
}
